body {
    font-size: 20px;
  
  }

  .inputrow {
    display:flex;
    justify-content: space-around;
    padding-top: 3vh;
  }

  .herramientas {
    display: flex;
    flex-direction: column;
    height: 3vh;
  }